@charset "UTF-8";

body{
	background-image: url("../_imagens/ap7.png");
}


img#icone{
	margin-left: 15px;
	margin-top: 5px;
	height: 60px;
}

img#inicio{
	max-width: 100%;
	max-height: 100%;
}

	/*----------- Formatacao do menu -----------*/

header#cabecalho{
	height: 75px;
	background-color: #11908a;
}

nav#menu{
	display: block;
}

nav#menu ul {
	position: absolute;
	text-transform: uppercase;
	font-size: 15pt;
	top: 10px;
	left: 60px;
}

nav#menu li {
	display: inline-block;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 3px;
	border-radius: 30px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #3fb5b5;
}


nav#menu a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
}

/*=======================================================*/
	/*------ Formatacao da secao Principal ------*/

section#principal {
	display: block;
	float: left;
	width: 74%;
	height: 565px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

section#principal h1{
	text-align: center;
	font-size: 25pt;
	margin-top: 75px;
}


/*=======================================================*/

	/*------ Formatacao da Aside Usuario ------*/

aside#usuario{
	display: block;
	float: right;
	width: 25%;
	height: 565px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}


fieldset#infoUsuario {
	position: relative;
	max-width: 85%;
	margin: auto;
	top: 15px;
	margin-bottom: 30px;
}


legend {
	font-weight: bold;
	font-size: 20pt;
}

fieldset#infoUsuario p{
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 20px;
	color: black;
	font-size: 14pt;
}

/*=======================================================*/

input{
	display: block;
	height: 50px;
	width: 300px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	outline: none;
}


label{
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	background-color: #ff2f00;
}


input[type=submit]{
	background-color: #ff2f00;/*#FF0066;*/
	cursor: pointer;
}




a{
	text-decoration: none;
}






#btn-menu{
	display: none;
}


.menu ul{
	list-style: none;
	flex-direction: column;
	margin: auto;
	display: none;
}

.menu li{
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 3px;
	border-radius: 30px;
	background-color: #3fb5b5;
	width: 33%;
}

#btn-menu:checked ~ .menu ul{
	display: block;
}





