@charset "UTF-8";


body{
	color: black;
	height: 640px;
}


div#corpo-form{
	position: relative;
	width: 450px;
	height: 250px;
	padding-top: 10px;
	margin: auto;
	top: -425px;
	margin-bottom: 150px;
	text-align: center;
	
}

div#rodape{
	border-top: none;
}


div#rodape footer{
	border-top: none;
}



input{
	display: block;
	height: 45px;
	width: 325px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: rgba(255,255,255,0.6);
	font-size: 15pt;
	padding-left: 15px;
	outline: none;
}

input[type=submit]{
	background-color: #FF0066;
	cursor: pointer;
	margin-top: 15px;
	width: 250px;
}


h1{
	color: black;
}