@charset "UTF-8";

	/*----------- Formatacao do menu -----------*/

p,h1{
	text-align: center;	
}

input{
	display: block;
	height: 38px;
	width: 225px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	outline: none;
}

input[type=submit]{
	background-color: #ff2f00;/*#FF0066;*/
	cursor: pointer;
	margin-bottom: 13px;
}

a{
	text-decoration: none;
}

fieldset{
	width: 700px;
	margin: auto;
	margin-bottom: 25px;
}




