@charset "UTF-8";

body{
	background-image: url("../_imagens/fundo.jpg");
}

div#corpo-form{
	width: 1100px;
	margin: auto;
	background-color: #eeeeee;
	padding-top: 25px;
}

form {
	width: 900px;
	margin: auto;
}

h1{
	text-align: center;
	padding-bottom: 5px;
}

/*======================================================*/


input{
	display: block;
	height: 55px;
	width: 300px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	outline: none;
}

input[type=submit]{
	background-color: #ff2f00;
	cursor: pointer;
}

/*======================================================*/

select{
	height: 30px;
	width: 200px;
	font-size: 15pt;
}

/*======================================================*/

fieldset{
	width: 900px;
	margin-bottom: 30px;
}


fieldset#informativo legend{
	background-color: rgba(180, 80, 255, 0.6);
}


fieldset#questao legend{
	background-color: rgba(0, 255, 0, 0.5);
}


legend{
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: bold;
}
/*======================================================*/
p{
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
}


p#dataInv{
	visibility: hidden;
}

p#dataInv input{
	height: 10px;
}

/*======================================================*/


textarea{
	font-size: 15pt;
	width: 850px;
	margin: auto
}

/*======================================================*/






