@charset "UTF-8";

section {
	width: 600px;
	margin: auto;
	margin-top:30px;
}

p#apresentacao{
	font-weight: bold;
	text-align: center;
	font-size: 23pt;
}



legend {
	color: black;
	font-weight: bold;
	font-size: 15pt;
}


fieldset{
	margin-bottom: 25px;
}

fieldset#simAberto legend {
	background-color: #5cf761;
}

fieldset#simAnterior  legend{
	background-color: #aaaaaa;
}

/*==============================================*/


input{
	display: block;
	height: 35px;
	width: 140px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	background-color: rgb(85, 40, 215);
	color: white;
	text-align: center;
	font-size: 15pt;
}

section#mostrarSimuldo{
	/*background-color: #eeeeee;*/
	width: 285px;
	float: left;
	text-align: center;
	font-size: 15pt;
	margin-top: 15px;
}

aside#mostrarSimuldo{
	/*background-color: #dddddd;*/
	width: 280px;
	float: right;
	margin-top: 40px;
	font-size: 15pt;
}


/*==============================================*/



/*==============================================*/

