@charset "UTF-8";

img#inicio{
	max-width: 100%;
	max-height: 100%;
}

	/*----------- Formatacao do Bem Vindo -----------*/

h1#recepcao{
	position: relative;
	background-color: rgba(0,0,0,0.3);
	max-width: 95%;
	margin: auto;
	top: -450px;
	text-align: center;
	padding: 15px;
	color: white;
	
}
/*=======================================================/*/


	/*---- Formatacao da DIV de desenvolvimento ----*/
	
div#desenvolvimento{
	position: relative;
	top: -180px;
	margin-bottom: -150px;
}

/*=======================================================*/

	/*----------- Formatacao da DIV Enem -----------*/

div#corpo{
	position: relative;
	background-color: rgba(50, 50, 100, 0.8);
	color: white;
	width: 700px;
	margin: auto;
	padding: 12px 60px;
	padding-bottom: 20px;
}

div#corpo p{
	color: ffffff;
	text-align: justify;
	font-size: 13pt;
}


/*=======================================================/*/

	/*---------- Formatacao das Noticias ----------*/

h1#ultimasNoticias{
	background-color: #467846;
	text-align: center;
	color: white;
	padding: 30px;
	
}


div#noticiario section#noticia1{
	display: block;
	float: left;
	width: 370px;
	height: 400px;
	margin-left: 245px;
	background-color: #eeeeee;
	box-shadow: 2px 2px rgba(0,0,0,.4);
	padding: 5px 25px;
	margin-top: -15px;
}


div#noticiario aside#noticia2{
	display: block;
	float: right;
	width: 370px;
	height: 400px;
	margin-right: 245px;
	background-color: #eeeeee;
	box-shadow: 2px 2px rgba(0,0,0,.4);
	padding: 5px 25px;
	margin-top: -15px;
}

div#noticiario p{
	text-align: justify;
	margin: 5px;
}



/*=======================================================*/

	/*------- Formatacao da Frase Motivacional -------*/

h1#fraseMotivacional{
	background-color: #bd138d;
	text-align: center;
	color: white;
	padding: 30px;
	margin-top: 475px;
}

/*=======================================================*/


	/*----------- Formatacao dos Links -----------*/

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
} 

a#facebook:hover {
	color: blue;
}

a#instagram:hover { 
	color: #fa0060;
}


/*================================================================*/
/*================================================================*/




div#construindo{
	width: 750px;
	background-color: rgba(150, 0, 255, 0.3);
	padding: 10px;
	margin: auto;
	margin-top: 125px;
	margin-bottom: 170px;
	
}
div h1{
	text-align: center;
}

/*================================================================*/












