@charset "UTF-8";

img#inicio{
	max-width: 100%;
	max-height: 100%;
}

	/*----------- Formatacao do Bem Vindo -----------*/

h1#recepcao{
	position: relative;
	background-color: rgba(0,0,0,0.3);
	max-width: 95%;
	margin: auto;
	top: -450px;
	text-align: center;
	padding: 15px;
	color: white;
	
}
/*=======================================================/*/


	/*---- Formatacao da DIV de desenvolvimento ----*/
	
div#desenvolvimento{
	position: relative;
	top: -180px;
	margin-bottom: -150px;
}

/*=======================================================*/

	/*----------- Formatacao da DIV Enem -----------*/

div#corpo{
	position: relative;
	background-color: rgba(50, 50, 100, 0.8);
	color: white;
	width: 700px;
	margin: auto;
	padding: 12px 60px;
	padding-bottom: 20px;
}

div#corpo p{
	color: ffffff;
	text-align: justify;
	font-size: 13pt;
}


/*=======================================================/*/

	/*---------- Formatacao das Noticias ----------*/

h1#ultimasNoticias{
	background-color: #467846;
	text-align: center;
	color: white;
	padding: 30px;
}




div#noticiario{
	background-color: ;
}


div#noticiario section#noticia1, aside#noticia2{
	width: 700px;
	height: 375px;
	background-color: #eeeeee;
	box-shadow: 1px 1px rgba(0,0,0,.4);
	padding: 5px 25px;
	margin: auto;
}

div#noticiario section#noticia1{
	margin-top:-15px;
}


div#noticiario aside#noticia2{
}

div#noticiario p{
	text-align: justify;
	margin: 5px;
}



/*=======================================================*/

	/*------- Formatacao da Frase Motivacional -------*/

h1#fraseMotivacional{
	background-color: #bd138d;
	text-align: center;
	color: white;
	padding: 30px;
	margin-top: 50px;
}

/*=======================================================*/


	/*----------- Formatacao dos Links -----------*/

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
} 

a#facebook:hover {
	color: blue;
}

a#instagram:hover { 
	color: #fa0060;
}


/*================================================================*/
/*================================================================*/

@media only screen and (max-width: 1200px ){
	
	h1#recepcao{
		top: -400px;
	}
	
}

@media only screen and (max-width: 1000px ){
	
	h1#recepcao{
		top: -350px;
	}
	
}


@media only screen and (max-width: 800px ){
	
	h1#recepcao{
		top: -300px;
	}
	
}


@media only screen and (max-width: 600px ){
	
	h1#recepcao{
		top: -250px;
	}
	
}




@media only screen and (max-width: 710px ){
	
	div#corpo, section#noticia1, aside#noticia2{
		max-width: 95%;
	}
	
}





