@charset "UTF-8";

body{
	background-image: url("../_imagens/ap7.png");
}


img#icone{
	margin-left: 15px;
	margin-top: 5px;
	height: 60px;
}

img#inicio{
	max-width: 100%;
	max-height: 100%;
}

/*=======================================================*/

	/*------ Formatacao da secao Principal ------*/

section#principal {
	display: block;
	float: left;
	width: 74%;
	height: 565px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

section#principal h1{
	text-align: center;
	font-size: 25pt;
	margin-top: 75px;
}


/*=======================================================*/

	/*------ Formatacao da Aside Usuario ------*/

aside#usuario{
	display: block;
	float: right;
	width: 25%;
	height: 565px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}


fieldset#infoUsuario {
	position: relative;
	max-width: 85%;
	margin: auto;
	top: 15px;
	margin-bottom: 30px;
}


legend {
	font-weight: bold;
	font-size: 20pt;
}

fieldset#infoUsuario p{
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 20px;
	color: black;
	font-size: 14pt;
}

/*=======================================================*/

input{
	display: block;
	height: 48px;
	width: 300px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	outline: none;
}


label{
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	background-color: #ff2f00;
}


input[type=submit]{
	background-color: #ff2f00;/*#FF0066;*/
	cursor: pointer;
}




a, a:hover{
	text-decoration: none;
}

/*=======================================================*/




#btn-menu{
	display: none;
}


.menu ul{
	list-style: none;
	flex-direction: column;
	margin: auto;
	display: none;
}

.menu li{
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 3px;
	border-radius: 30px;
	background-color: #3fb5b5;
	width: 33%;
}

#btn-menu:checked ~ .menu ul{
	display: block;
}



/*=======================================================*/
		/*-- voltada ao coordenador --*/

input{
	margin-top: 5px;
}

p#priv{
	margin: auto;
	font-weight: bold;
	font-size: 22pt;
	float: left;
	padding: 15px;
	color: black;
}


p#naofloat{
	float: none;
}


/*=======================================================*/


fieldset#cadProf,  fieldset#remProf{
	max-width:50%;
	margin: auto;
}

 fieldset#remProf{
	margin-top: 25px;
 }

fieldset#cadProf legend {
	background-color: #aaaaaa;
}
 
fieldset#remProf legend {
	background-color: #5cf761;
}
 
 
 
fieldset#cadProf input,  fieldset#remProf input{
	width: 350px;
}


fieldset#cadProf input[type=submit], fieldset#remProf input[type=submit]{
	width: 250px;
	height: 45px;
}