
body{
	color: white;
	font-size: 15pt;
	height: 643px;
}

img#inicio{
	max-width: 100%;
	max-height: 100%;
}
/*-------------------------------------------------*/

div{
	position: relative;
	margin: auto;
	width: 450px;
	padding-left: 6px;
}
div#corpo-form{
	top: -485px;
}

div#corpo-form-Cad{
	top: -490px;
}

div#corpo-form-esqSenha{
	top: -425px;
}

/*-------------------------------------------------*/

h1{
	text-align: center;
	padding-top: 10px;
	color: black;
}

p{
	text-align: center;
}


a{
	color: #8cff00;
	text-decoration: none;
}

a:hover{
	color: #00ffff;
	text-decoration: underline;
}

a#termo{
	color: blue;
}
/*-------------------------------------------------*/


input, select{
	display: block;
	height: 43px;
	width: 325px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: rgba(255,255,255,0.6);
	font-size: 15pt;
	padding-left: 15px;
	outline: none;
}

select{
	width: 345px;
	height: 45px;
}

select#polo{
	height: 43px;
	width: 325px;
}

input[type=submit]{
	background-color: #FF0066;
	cursor: pointer;
	margin-top: 15px;
	width: 250px;
}

/*-------------------------------------------------*/

@media only screen and (max-width: 1100px ){
	
	div#corpo-form{
		top: -420px;
	}

	div#corpo-form-Cad{
		top: -450px;
	}

	div#corpo-form-esqSenha{
		top: -425px;
	}
	
	
	input, select{
		height: 35px;
		width: 250px;
	
	}
}


