@charset "UTF-8";

body{
	background-image: url("../_imagens/ap7.png");
}


img#icone{
	margin-left: 15px;
	margin-top: 5px;
	height: 60px;
}

img#inicio{
	max-width: 100%;
	max-height: 100%;
}

/*=======================================================*/

	/*------ Formatacao da Secao e do Aside ------*/

section#principal, aside#usuario{
	display: block;
	height: 570px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

	/*------ Formatacao da Secao ------*/

section#principal {
	float: left;
	width: 74.5%;
}

section#principal h1{
	text-align: center;
	font-size: 25pt;
	margin-top: 75px;
}

	/*------ Formatacao do Aside ------*/

aside#usuario{
	float: right;
	width: 24.5%;
}

/*---------------------------------------------------------*/

fieldset#infoUsuario {
	position: relative;
	max-width: 86%;
	margin: auto;
	top: 15px;
	margin-bottom: 30px;
}


legend {
	font-weight: bold;
	font-size: 20pt;
}

fieldset#infoUsuario p{
	margin: 5px auto;
	text-indent: 20px;
	font-size: 14pt;
}

/*=======================================================*/

input, label{ /*label vem do editar perfil*/
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
}


input{
	display: block;
	height: 48px;
	width: 300px;
	margin: auto;
	margin-top: 6px;
	outline: none;
}

input[type=submit]{
	background-color: #ff2f00;
	cursor: pointer;
}


label{
	padding-left: 12px;
	padding-right: 12px;
	cursor: pointer;
	background-color: #f04b19;
}


a, a:hover{
	text-decoration: none;
}

/*=======================================================*/


#btn-menu{
	display: none;
}

.menu ul{
	display: none;
	list-style: none;
	flex-direction: column;
	margin: auto;
}

.menu li{
	width: 36%;
	margin: 3px;
	border-radius: 20px;
	background-color: #3fb5b5;
	padding: 2px;
	text-align: center;
}

#btn-menu:checked ~ .menu ul{
	display: block;
}

div#edicao{
	margin-left: 25%;
}


/*=======================================================*/
		/*-- voltada ao coordenador --*/

p#priv{
	float: left;
	margin: auto;
	font-weight: bold;
	padding: 15px;
}

/*=======================================================*/


fieldset#cadProf,  fieldset#remProf{
	max-width:50%;
	margin: auto;
}

 fieldset#remProf{
	margin-top: 25px;
 }

fieldset#cadProf legend {
	background-color: #aaaaaa;
}
 
fieldset#remProf legend {
	background-color: #5cf761;
}
 
 
 
fieldset#cadProf input,  fieldset#remProf input{
	width: 350px;
}


fieldset#cadProf input[type=submit], fieldset#remProf input[type=submit]{
	width: 250px;
	height: 45px;
}