@charset "UTF-8";


section {
	width: 700px;
	margin: auto;
	padding-top: 70px;
	padding-bottom: 30px;
	
}

legend {
	background-color: #5cf761;
	font-weight: bold;
	font-size: 15pt;
}

p#enviar {
	text-align: center;
}


fieldset{
	margin: auto;
}


fieldset p{
	text-align: center;
	font-size: 15pt;
}


input, textarea{
	font-size: 12pt;
}



input#enviar{
	display: block;
	height: 38px;
	width: 200px;
	margin: auto;
	margin-top:25px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	outline: none;
	background-color: #9500ff;
}


textarea {
  resize: none;
}