@charset "UTF-8";

	/*----------- Formatacao do menu -----------*/

p,h1{
	text-align: center;	
}

input, select{
	display: inline;
	height: 35px;
	width: 210px;
	margin: auto;
	margin-right: 15px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 14pt;
	padding-left: 10px;
	outline: none;
}

select{
	margin-left: 18%;
}



input[type=submit]{
	background-color: #ff2f00;/*#FF0066;*/
	cursor: pointer;
	margin-bottom: 13px;
}

a{
	text-decoration: none;
}

fieldset{
	width: 700px;
	margin: auto;
	margin-bottom: 25px;
}

legend{
	background-color: rgba(0, 255, 0, 0.5);/*#5cf761;*/
	font-size: 14pt;
	font-weight: bold;
}


