
body{
	background-image: url("../_imagens/fundo.jpg");
}



fieldset#maior{
	margin-top: 50px;
	background-color: #eeeeee;
}

/*=======================================================*/

fieldset#questao{
	margin: 25px;
}

fieldset#questao legend{
	background-color: rgba(180, 80, 255, 0.6);/*#5cf761;*/
}

/*=======================================================*/

legend{
	background-color: rgba(0, 255, 0, 0.5);/*#5cf761;*/
	font-size: 14pt;
	font-weight: bold;
}

/*=======================================================*/

div#desenvolvimento{
	width: 1100px;
	margin: auto;
}

div#n_encontrado{
	position: relative;
	max-width: 70%;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #eeeeee;
	text-align: center;
	margin-top: 140px;
}
/*=======================================================*/

input#null{
	visibility: hidden; 
}

input#editar{
	
	cursor: pointer;
	height: 25px;
	width: 150px;
	border-radius: 30px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: #009600;
	font-size: 13pt;
	outline: none;
	margin-left: 80%;
}



p, label{
	text-align: justify;
	text-indent: 40px;
}



p#informativo{
	text-align: center;
	text-indent: 10px;
}