@charset "UTF-8";

	/*----------- Formatacao do menu -----------*/

header#cabecalho{
	height: 90px;
	background-color: #11908a;
}


nav#menu{
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	font-size: 15pt;
	position: absolute;
	top: 15px;
	left: 1060px;
}

nav#menu li {
	display: inline-block;
	padding: 5px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #909090;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
}


/*=======================================================*/
	/*------ Formatacao da secao Principal ------*/

section#principal {
	display: block;
	float: left;
	width: 933px;
	height: 550px;
	background-color: #dddddd;
	/*background-image: url("../_imagens/coqueiro.png");*/
	box-shadow: 2px 2px 2px rgba(0,0,0,.6);
}

section#principal h1{
	text-align: center;
	font-size: 25pt;
}

/*=======================================================*/

	/*------ Formatacao da Aside Usuario ------*/

aside#usuario{
	display: block;
	float: right;
	width: 400px;
	height: 550px;
	background-color: #dddddd;
	/*background-image: url("../_imagens/coqueiro2.png");*/
	box-shadow: 2px 2px 2px rgba(0,0,0,.6);
}


fieldset#infoUsuario {
	position: relative;
	width: 340px;
	left: 15px;
	top: 15px;
}


legend {
	font-weight: bold;
	font-size: 20pt;
}

fieldset#infoUsuario p{
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 20px;
	color: #0000ff;
	font-size: 14pt;
}

/*=======================================================*/

input{
	display: block;
	height: 50px;
	width: 300px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	outline: none;
}


input#editarPerfil{
	margin-top: 50px;
	height: 45px;
	width: 200px;
}



input[type=submit]{
	background-color: #ff2f00;/*#FF0066;*/
	cursor: pointer;
}




a{
	text-decoration: none;
}














