
body{
	/*background-color:#dddddd;*/
}


div#edicao{
	/*background-color:#dddddd;*/
	height: 330px;
}


div#edicao h1{
	padding-top: 25px;
	padding-bottom: -10px;
	
}


div#corpo{
	/*background-color:#dddddd;*/
	
}
/*====================================================*/

section#usuario{
	display: block;
	float: left;
	width: 400px;
	margin-left: 260px;
	border-right: 3px solid black;
}

section#login{
	display: block;
	float: right;
	width: 400px;
	margin-right: 260px;
}

/*====================================================*/


fieldset#infoUsuario{
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

fieldset#logar{
	width: 475px;
	margin: auto;
}

/*--------------------------------------*/


fieldset legend{
	font-weight: bold;
	font-size: 20pt;
}

/*--------------------------------------*/

fieldset#infoUsuario {
	position: relative;
	width: 400px;
	top: 15px;
}

fieldset#infoUsuario p{
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 15px;
	color: #c94d0e;
}

/*====================================================*/

input{
	display: block;
	height: 45px;
	width: 350px;
	margin: auto;
	margin-top: 10px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	background-color: rgba(255,255,255,0.5);
}

input#editUsuario, input#editLogin, input#finalizar{
	height: 40px;
	width: 225px;
}



input[type=submit]{
	background-color: #ff2f00;/*#FF0066;*/
	cursor: pointer;
}

/*====================================================*/

input#edicaoDoUsuario, input#edicaoDoLogin {
	/*visibility: hidden;*/
}


/*====================================================*/

button{
	height: 40px;
	width: 225px;
	margin: auto;
	margin-top: 10px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	text-align: center;
	
	background-color: #ff2f00;/*#FF0066;*/
	cursor: pointer;
}

p{
	text-align: center;
}

/*====================================================*/

h1, h2{
	text-align: center;
}

