@charset "UTF-8";


section {
	width: 700px;
	margin: auto;
	padding-top: 70px;
	padding-bottom: 30px;
	
}

legend {
	color: #606060;
	font-weight: bold;
	font-size: 15pt;
}

p#enviar {
	text-align: center;
}

input#e {
	width:150px;
	background-color: #888888;
	padding: 5px 0px 5px 10px;
}


fieldset{
	margin: auto;
}


fieldset p{
	text-align: center;
	font-size: 15pt;
}


input{
	font-size: 12pt;
}

textarea{
	font-size: 12pt;
}


input#enviar{
	display: block;
	height: 50px;
	width: 200px;
	margin: auto;
	margin-top:25px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	outline: none;
	background-color: #9500ff;
}


