
body{
	background-image: url("../_imagens/fundo.png");
}

fieldset#maior{
	margin-top: 50px;
	background-color: #eeeeee;
}

/*=======================================================*/

fieldset#questao{
	margin: 25px;
}

fieldset#questao legend{
	background-color: rgba(180, 80, 255, 0.6);/*#5cf761;*/
}

/*=======================================================*/

legend{
	background-color: rgba(0, 255, 0, 0.5);/*#5cf761;*/
	font-size: 14pt;
	font-weight: bold;
}

/*=======================================================*/

div{
	width: 1100px;
	margin: auto;
}

/*=======================================================*/

input[type=submit]{
	display: block;
	height: 45px;
	width: 250px;
	margin: auto;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	background-color: #007d00;
	cursor: pointer;
	margin-top: 25px;
	margin-bottom: 50px;
}



input#null{
	visibility: hidden; 
}



p, label{
	text-align: justify;
	text-indent: 40px;
}