@charset "UTF-8";


/*================ Formatacao do Cabecalho ================*/

header#cabecalho{
	height: 90px;
	background-color: #11908a;
}


/*=======================================================/*/

	/*----------- Formatacao do menu -----------*/

nav#menu{
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	font-size: 15pt;
	position: absolute;
	top: 15px;
	left: 700px;
}

nav#menu li {
	display: inline-block;
	padding: 5px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #909090;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
}


/*=======================================================*/

	/*----------- Formatacao do Bem Vindo -----------*/

h1#recepcao{
	position: relative;
	background-color: rgba(0,0,0,0.3);
	width: 1245px;
	top: -450px;
	text-align: center;
	left: 30px;
	padding: 15px;
	color:white;
	
}
/*=======================================================/*/


	/*---- Formatacao da DIV de desenvolvimento ----*/
	
div#desenvolvimento{
	position: relative;
	top: -180px;
	margin-bottom: -150px;
}

/*=======================================================*/

	/*----------- Formatacao da DIV Enem -----------*/

div#corpo{
	position: relative;
	background-color: rgba(50, 50, 100, 0.8);
	color: white;
	width: 700px;
	margin: auto;
	padding: 12px 60px;
	padding-bottom: 20px;
}

div#corpo p{
	color: ffffff;
	text-align: justify;
	font-size: 13pt;
}


/*=======================================================/*/

	/*---------- Formatacao das Noticias ----------*/

h1#ultimasNoticias{
	background-color: #467846;
	text-align: center;
	color: white;
	padding: 30px;
	
}


div#noticiario section#noticia1{
	display: block;
	float: left;
	width: 370px;
	height: 400px;
	margin-left: 245px;
	background-color: #eeeeee;
	box-shadow: 2px 2px rgba(0,0,0,.4);
	padding: 5px 25px;
	margin-top: -15px;
}


div#noticiario aside#noticia2{
	display: block;
	float: right;
	width: 370px;
	height: 400px;
	margin-right: 245px;
	background-color: #eeeeee;
	box-shadow: 2px 2px rgba(0,0,0,.4);
	padding: 5px 25px;
	margin-top: -15px;
}

div#noticiario p{
	text-align: justify;
	margin: 5px;
}



/*=======================================================*/

	/*------- Formatacao da Frase Motivacional -------*/

h1#fraseMotivacional{
	background-color: #bd138d;
	text-align: center;
	color: white;
	padding: 30px;
	margin-top: 475px;
}

/*=======================================================*/

	/*----------- Formatacao do Rodape -----------*/

div#rodape{
	border-top: 2px solid #606060;
	text-align: center;
}


div#rodape footer{
	clear: both;
	border-top: 2px solid #606060;
}


/*=======================================================/*/

	/*----------- Formatacao dos Links -----------*/

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
} 

a#facebook:hover {
	color: blue;
}

a#instagram:hover { 
	color: #fa0060;
}


/*================================================================*/
/*================================================================*/




div#construindo{
	width: 750px;
	background-color: rgba(150, 0, 255, 0.3);
	padding: 10px;
	margin: auto;
	margin-top: 125px;
	margin-bottom: 170px;
	
}
div h1, h2{
	text-align: center;
}

/*================================================================*/












