
body{
	background-image: url("../_imagens/logar.png");
	color: black;
	font-weight: bold;
	font-size: 15pt;
}

/*-------------------------------------------------*/

input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	background-color: rgba(255,255,255,0.5);
	outline: none;
}


input[type=submit]{
	background-color: #FF0066;
	cursor: pointer;
}


/*-------------------------------------------------*/

div#corpo-form{
	width:420px;
	margin: 150px auto 0px auto;
}


div#corpo-form h1, div#corpo-form-cad h1{
	text-align: center;
	padding:10px;
}


div#corpo-form-cad{
	width:420px;
	margin: 10px auto 0px auto;
}



/*-------------------------------------------------*/

p{
	text-align: center;
}

p#mensagem{
	color: red;
}

p#selectPolo select{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.7);
	font-size: 15pt;
	padding-left: 10px;
	background-color: rgba(255,255,255,0.5);
	outline: none;
}



/*-------------------------------------------------*/

a{
	color: #0000ff;
	text-decoration: none;
}


a:hover{
	text-decoration: underline;
}

/*-------------------------------------------------*/

  /*==================== barra de progresso====================*/
div#progress{
	position: relative;
	width: 500px;
	height: 50px;
	background-color: #606060;
	border-radius: 25px;
}


div#progress-bar{
	content: data-label;
	
	display: flex;
	align-items: center;
	position: absolute;
	left: 5px;
	top: 5px;
	bottom: 5px;
	
	width: 40px;
	min-width: 2px;
	max-width: 490px;
	background-color: blue;
	border-radius: 20px;
	padding: 10px;
	color: white;
}

/*=================================================================*/





