
fieldset{
	width: 1200px;
	margin: auto;
	margin-bottom: 30px;
}

legend{
	background-color: rgba(0, 255, 0, 0.5);
	font-size: 15pt;
	font-weight: bold;
}

fieldset p{
	text-align: justify;
	font-size: 13pt;
	margin-left: 25px;
	margin-right: 25px;
	text-indent: 40px;
}

h1{
	margin: 30px;
}